:root{
    /*Colors*/
    --body-color:#0f0a06;
    --main-color:#1C1B1A;
    --white-color: #ffffff;

    /**/
    --h1-font-size: 2em;
    --small-font-size:1em;
    --smallest-font-size: 0.8em;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans, arial, sans-serif;
    background-color: var(--body-color);
    color: white;
    display: flex;
    justify-content: center;
}

main{
    position: relative;
    background-color: var(--main-color);
    width: 400px;
    height: 450px;
    margin: 125px 0 125px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: var(--h1-font-size);
    transition: 0.5s ease;
}

/* Contenedor del input y label */

.input_credential{
    position: relative;
    width: 310px;
    margin: 30px 0 10px 0;
}

.input_credential .input_line{
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    height: 2px;
    bottom: -1px;
    transition: .5s ease;
}

.input_credential label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: .5s ease;
    font-size: var(--small-font-size);
    color: var(--white-color);
    pointer-events: none;
}


.input_credential input{
    background:transparent;
    width: 100%;
    margin:10px 0 5px 0;
    min-height: 2rem;
    border: none;
    color: var(--white-color);
    outline: none;
    padding: 0 35px 0 5px;
    font-size: var(--small-font-size);
}

.input_credential input:focus + label,
.input_credential input:valid + label {
    top: -5px;
}

/*Remenber*/

.Remenber_Me{
    position: relative;
    color: var(--white-color);
    font-size: var(--smallest-font-size);
}








